* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}




.App {
  display: flex;
  align-items: center;
  background-color:  #E6E6FA;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  grid-gap: 16px;
  margin: 0 auto;
  margin-top: 200px;
  margin-left: 325px;
  
}


.img-wrapper {
  height: 250px;
  width: 250px;
  padding: 0px;
  margin: 0px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
  transition: ease-in 325ms;
}

.cat-img {
  height: 250px;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.img-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  backdrop-filter: blur(7px);
}


.home-btn {
  text-decoration: none;
  font-size: 35px; 
  position: absolute; 
  top: 30px; 
  left: 65px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px;
  margin-left: 725px;
  color: black;
}

.img-wrapper:hover .img-caption {
  opacity: 1;
  
}
.img-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 20px;
  margin-top: 150px;
  width: 750px;
  margin-left: 475px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-left: 9px;
}

.detail {
  text-align: center;
}

.cat-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.temper {
  font-size: 24px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.trait {
  font-size: 16px;
  text-align: left;
  position: relative;
}
.buttons {

  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wiki-btn:hover,
.vet-btn:hover {
  background-color: #0056b3;
}
.nav-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

.prev-button, .next-button {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.prev-button:hover, .next-button:hover {
  background-color: #2980b9;
}