* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}




.App {
  display: flex;
  align-items: center;
  
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  grid-gap: 16px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 250px;
  
}


.img-wrapper {
  height: 250px;
  width: 250px;
  padding: 0px;
  margin: 0px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
  transition: ease-in 325ms;
}

.cat-img {
  height: 250px;
  width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.img-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  backdrop-filter: blur(7px);
}


.home-btn {
  text-decoration: none;
  font-size: 18px; 
  position: absolute; 
  top: 30px; 
  left: 65px; 
}

.img-wrapper:hover .img-caption {
  opacity: 1;
  
}
.img-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  
}